doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= "Villa Caribe B&B"
    meta(name='description', content='villacaribe b&b,Übernachtung mit Frühstück,ベッド＆ブレックファースト,住宿加早餐,monterosso al mare,cinque terre')
    meta(name='author', content='Oscar Acosta oscaracos@yahoo.com')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/agency.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700')

    //HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
     WARNING: Respond.js doesn't work if you view the page via file:// 
     [if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     [endif]

  body.index
    section#services
          .container
            .col-lg-12.text-center
                h3.section-subheading.text-muted Privacy Policy.
            .row
                p
                | Per offrirLe i servizi personalizzati previsti da villacaribe.org, Odalys Acosta, in qualità di Titolare del trattamento, deve trattare alcuni dati identificativi necessari per l' erogazione dei servizi.
                | a) Dati di navigazione
                | I sistemi informatici e le procedure tecniche e software sottostanti il funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nei meccanismi di funzionamento e dei protocolli in uso su Internet.
                | Ogni volta che l’utente accede a questo sito e ogni volta che richiama o richiede un contenuto i dati d’accesso vengono memorizzati presso i nostri sistemi e potenzialmente anche dal responsabile del trattamento e dagli incaricati del trattamento, sotto forma di file di dati tabellari o lineari (all’interno di appositi file di log), strutturati e/o destrutturati.
                p
                | Ogni riga di stoccaggio dei dati è composta da informazioni quali:
                | - Il Suo indirizzo IP;
                | - Il browser, le sue caratteristiche tecniche e funzionali ed il sistema operativo utilizzati.
                | - La data e l’ora della richiesta o dell’accesso;
                | - La quantità di dati trasmessa;
                | - La richiesta medesima da parte del Suo browser o di altro client, sotto forma di indirizzi in notazione URI (Uniform Resource Identifier);
                | - Il codice tecnico della risposta http ottenuta dal server (errore, buon fine, ecc.);
                | - Il sito Internet da cui è stata richiamata la nostra pagina (c.d. “referral”);
                | Questi dati potranno essere utilizzati dal Titolare al solo fine di ricavare informazioni statistiche anonime sull’uso del sito al fine di individuare le pagine preferite dagli utenti e fornire dunque contenuti sempre più adeguati e per controllarne il corretto funzionamento. Su richiesta dell’Autorità, i dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del sito o dei suoi utenti.
                p
                | b) Dati forniti volontariamente dall'utente
                | In villacaribe.org Lei ha la possibilità di trasmetterci dei dati personali (es. indirizzo e-mail, nome, CAP, altri dati anagrafici e non). L'invio di questi dati avviene su base facoltativa, esplicita e volontaria, e comporta la successiva acquisizione dell'indirizzo email del mittente, necessario per rispondere alle richieste, nonché degli eventuali altri dati personali inseriti per le finalità del servizio e quelle ulteriormente da Lei concesse.
                | I dati personali che Lei fornirà verranno registrati e conservati su supporti elettronici protetti e trattati con adeguate misure di sicurezza anche associandoli ed integrandoli con altri DataBase.
                | I dati da Lei forniti saranno trattati da Odalys Acosta esclusivamente con modalità e procedure necessarie per fornirLe i servizi da Lei richiesti.
                | I dati non saranno diffusi ma potranno essere comunicati, ove necessario per l'erogazione del servizio, a società che svolgono per conto di Odalys Acosta compiti di natura tecnica od organizzativa strumentali alla fornitura dei servizi richiesti.
                | Solo con il Suo espresso consenso i dati potranno essere utilizzati per effettuare analisi statistiche, indagini di mercato e invio di informazioni commerciali sui prodotti e sulle iniziative promozionali di Odalys Acosta e/o di società terze.
                | Le comunicazioni per indagini di mercato o di informazioni commerciali sui prodotti e sulle iniziative promozionali potranno essere effettuate mediante mailing postale, posta elettronica, telemarketing, sms, mms.
                | Sempre con il Suo consenso i dati potranno essere utilizzati per finalità di profilazione che potrà essere effettuata mediante a) trattamento, in modalità automatizzata, dei dati personali degli utenti autenticati in relazione all’utilizzo del servizio per l’inoltro e la ricezione di messaggi di posta elettronica; b) incrocio di dati personali raccolti in relazione alla fornitura ed al relativo utilizzo di più funzionalità diverse tra quelle messe a disposizione dall’utente; c) utilizzo di altri identificatori necessari per ricondurre a soggetti determinati, identificati o identificabili, specifiche azioni o schemi comportamentali ricorrenti nell’uso delle funzionalità offerte.
                | Conformemente alla normativa vigente Le chiederemo quindi di esprimere il consenso per i trattamenti di dati barrando la casella "Accetto" nell’apposito form di registrazione. Resta inteso che il consenso si riferisce al trattamento dei dati ad eccezione di quelli strettamente necessari per le operazioni ed i servizi da Lei richiesti, al momento della sua adesione in quanto per queste attività il suo consenso non è necessario.
                | Successivamente alla registrazione necessaria per il Servizio richiesto, ove Lei intenda richiedere/usufruire di altri Servizi erogati dalla stessa società o da società diverse come sopra indicate (Odalys Acosta o società da queste controllate o collegate) Lei potrà utilizzare le credenziali (nome utente/ mail/ password) già utilizzate per la prima registrazione.
                | Ove necessario Le potranno essere richiesti dati aggiuntivi, necessari per l'erogazione degli ulteriori servizi richiesti.
                p
                | In ogni momento Lei potrà rileggere l'informativa ed eventualmente modificare i consensi precedentemente forniti, verificare e/o modificare lo stato dei servizi attivi ed eventualmente richiedere servizi aggiuntivi.
                | Il conferimento dei dati è facoltativo, salvo per quelli indicati come obbligatori per poterle permettere di accedere ai servizi offerti. Lei ha diritto di conoscere, in ogni momento, quali sono i Suoi dati e come essi sono utilizzati. Ha anche il diritto di farli aggiornare, integrare, rettificare o cancellare, chiederne il blocco ed opporsi al loro trattamento. Ricordiamo che questi diritti sono previsti dal Art.7 del D. Lgs 196/2003.
                | L'elenco aggiornato dei Responsabili del Trattamento dati di cui alla presente informativa è consultabile presso la Sede legale di Villa Caribe in  Via Padre Semeria, 49, 19016 Monterosso al Mare SP, Italia; l'esercizio dei diritti di cui all'art. 7 del D.Lgs 196/03 potrà effettuarsi attraverso specifica comunicazione a mezzo posta indirizzata alla medesima Società, o attraverso la casella di posta elettronica info@villacaribe.org

            a(href='/') Return to main page
